USE [SmartAttendance]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/23/2026 11:26:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CheckInTime] [datetime2](7) NULL,
	[CheckOutTime] [datetime2](7) NULL,
	[Date] [date] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Attendance_User_PerDay] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/23/2026 11:26:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]=N'User' OR [Role]=N'Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckIn]    Script Date: 3/23/2026 11:26:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckIn]
    @UserId INT,
    @Latitude FLOAT,
    @Longitude FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OfficeLat FLOAT = 11.5564;
    DECLARE @OfficeLon FLOAT = 104.9282;
    DECLARE @EarthRadiusMeters FLOAT = 6371000.0;

    DECLARE @dLat FLOAT = RADIANS(@Latitude - @OfficeLat);
    DECLARE @dLon FLOAT = RADIANS(@Longitude - @OfficeLon);
    DECLARE @lat1 FLOAT = RADIANS(@OfficeLat);
    DECLARE @lat2 FLOAT = RADIANS(@Latitude);

    DECLARE @a FLOAT = SIN(@dLat / 2.0) * SIN(@dLat / 2.0)
        + COS(@lat1) * COS(@lat2) * SIN(@dLon / 2.0) * SIN(@dLon / 2.0);
    DECLARE @c FLOAT = 2.0 * ATN2(SQRT(@a), SQRT(1.0 - @a));
    DECLARE @distanceMeters FLOAT = @EarthRadiusMeters * @c;

    IF @distanceMeters > 100.0
    BEGIN
        RAISERROR(N'Location is outside the allowed office radius (100 meters).', 16, 1);
        RETURN;
    END;

    DECLARE @Today DATE = CAST(GETDATE() AS DATE);

    IF EXISTS (
        SELECT 1
        FROM dbo.Attendance
        WHERE UserId = @UserId
          AND [Date] = @Today
          AND CheckInTime IS NOT NULL
    )
    BEGIN
        RAISERROR(N'Check-in is allowed only once per day.', 16, 1);
        RETURN;
    END;

    IF EXISTS (SELECT 1 FROM dbo.Attendance WHERE UserId = @UserId AND [Date] = @Today)
    BEGIN
        RAISERROR(N'Duplicate attendance record for today.', 16, 1);
        RETURN;
    END;

    INSERT INTO dbo.Attendance (UserId, CheckInTime, CheckOutTime, [Date], Latitude, Longitude)
    VALUES (@UserId, GETDATE(), NULL, @Today, @Latitude, @Longitude);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS AttendanceId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckOut]    Script Date: 3/23/2026 11:26:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckOut]
    @UserId INT,
    @Latitude FLOAT,
    @Longitude FLOAT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OfficeLat FLOAT = 11.5564;
    DECLARE @OfficeLon FLOAT = 104.9282;
    DECLARE @EarthRadiusMeters FLOAT = 6371000.0;

    DECLARE @dLat FLOAT = RADIANS(@Latitude - @OfficeLat);
    DECLARE @dLon FLOAT = RADIANS(@Longitude - @OfficeLon);
    DECLARE @lat1 FLOAT = RADIANS(@OfficeLat);
    DECLARE @lat2 FLOAT = RADIANS(@Latitude);

    DECLARE @a FLOAT = SIN(@dLat / 2.0) * SIN(@dLat / 2.0)
        + COS(@lat1) * COS(@lat2) * SIN(@dLon / 2.0) * SIN(@dLon / 2.0);
    DECLARE @c FLOAT = 2.0 * ATN2(SQRT(@a), SQRT(1.0 - @a));
    DECLARE @distanceMeters FLOAT = @EarthRadiusMeters * @c;

    IF @distanceMeters > 100.0
    BEGIN
        RAISERROR(N'Location is outside the allowed office radius (100 meters).', 16, 1);
        RETURN;
    END;

    DECLARE @Today DATE = CAST(GETDATE() AS DATE);
    DECLARE @Now TIME = CAST(GETDATE() AS TIME);

    IF @Now < CAST(N'17:00:00' AS TIME)
    BEGIN
        RAISERROR(N'Check-out is allowed only after 5:00 PM.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.Attendance
        WHERE UserId = @UserId
          AND [Date] = @Today
          AND CheckInTime IS NOT NULL
    )
    BEGIN
        RAISERROR(N'You must check in before check-out.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM dbo.Attendance
        WHERE UserId = @UserId
          AND [Date] = @Today
          AND CheckOutTime IS NOT NULL
    )
    BEGIN
        RAISERROR(N'Check-out is allowed only once per day.', 16, 1);
        RETURN;
    END;

    UPDATE dbo.Attendance
    SET CheckOutTime = GETDATE(),
        Latitude = @Latitude,
        Longitude = @Longitude
    WHERE UserId = @UserId
      AND [Date] = @Today;

    SELECT @@ROWCOUNT AS RowsUpdated;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 3/23/2026 11:26:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateUser]
    @Username NVARCHAR(256),
    @PasswordHash NVARCHAR(500),
    @Role NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE Username = @Username)
    BEGIN
        RAISERROR(N'Username already exists.', 16, 1);
        RETURN;
    END;

    IF @Role NOT IN (N'Admin', N'User')
    BEGIN
        RAISERROR(N'Invalid role. Use Admin or User.', 16, 1);
        RETURN;
    END;

    INSERT INTO dbo.Users (Username, PasswordHash, Role, CreatedAt)
    VALUES (@Username, @PasswordHash, @Role, GETDATE());

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewUserId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 3/23/2026 11:26:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id,
           Username,
           Role,
           CreatedAt
    FROM dbo.Users
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserAttendance]    Script Date: 3/23/2026 11:26:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserAttendance]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id,
           UserId,
           CheckInTime,
           CheckOutTime,
           [Date],
           Latitude,
           Longitude
    FROM dbo.Attendance
    WHERE UserId = @UserId
    ORDER BY [Date] DESC, Id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 3/23/2026 11:26:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LoginUser]
    @Username NVARCHAR(256),
    @Password NVARCHAR(256) -- Plain password not verified in SQL; API verifies hash (BCrypt)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id,
           Username,
           PasswordHash,
           Role,
           CreatedAt
    FROM dbo.Users
    WHERE Username = @Username;
END
GO
